.flashcardsDashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 var(--spacing);
  border-radius: var(--panel-radius) var(--panel-radius) 0 0;
  border: 1px solid var(--search-border);
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  height: var(--header-height);
  align-items: center;
  padding: 0.5rem var(--spacing);
  border-bottom: 1px solid var(--border);
}

.header h1 {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-primary);
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  margin: 1rem 0.05rem;
  border: 1px solid var(--border);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.searchDeckContainer {
  background: rgba(255, 255, 255, 0.009);
  display: flex;
  position: relative;
  padding: 0.5rem 0.625rem;
  flex: 1;
  height: var(--header-height);
}

.searchInput {
  background-color: rgba(255, 255, 255, 0.02);
  padding: 1rem;
  margin-left: auto;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  height: 38px;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--text-primary);
  width: 250px;
}

.searchInput::placeholder {
  color: var(--text-secondary);
  font-size: var(--font-size-placeholder);
  opacity: 0.7;
}

.searchInput:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.125rem rgba(var(--primary-rgb), 0.1);
}

.searchDeckContainer .searchIcon {
  margin-left: auto;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-secondary);
  width: 1rem;
  height: 1rem;
}

.createBtn {
  width: max-content;
  height: 2.375rem;
  padding: 0 0.625rem;
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--text-secondary-dark);
  font-size: var(--font-size-button);
  font-weight: 600;
}

.createBtn:hover {
  color: var(--text-primary);
}

.createBtn svg {
  width: 0.9rem;
  height: 0.9rem;
}
